*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    font-weight: 100;
    text-decoration: none;
}

h1, .menu-item{
    text-align: center;
}

h1{
    background-color: #FFC300;
    color: #900C3F;
}

.menu-item{
    height: 1.5rem;
    background-color: #FFEC8D;
}

a{
    color: #B74F3D;
}

/* -------------------Recipe pages------------------------------- */
.recipe-body{
    background-color: #FFEC8D;
    color: #B74F3D;
}

.image-container{
    text-align: center;
}

img{
    height: 500px;
    width: auto;
}